name: Analyze, Test and Build

on:
  push:
    branches:
    - master
  pull_request:


jobs:

  # lint:
  #   name: Analyze the code
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '2.8.1'
  #         channel: 'stable'

  #     - name: Update dependencies
  #       run: flutter pub get

  #     - name: Analyze code
  #       run: flutter analyze
      
  #     - name: Flutter version
  #       run: flutter --version

  # test:



version:
  name: Create version number
  runs-on: ubuntu-latest
  # needs:[lint, test]
  steps:
    - name: Checkout Code
      uses: actions/checkout@v2
   
    - name: Fetch all history for all tags and branches
      run: git fetch --unshallow --tags
    
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.10
      with:
        versionSpec: '5.x'

    - name: Use GitVersion
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.10

    - name: Create version.txt with nuGetVersion
      run: echo ${{ steps.gitversion.outputs.nuGetVersion }} > version.txt

    - name: Upload version.txt
      uses: actions/upload-artifact@v2
      with:
        name: gitversion
        path: version.txt

  # build: