name: Analyze, Test and Build

on:
  push:
    branches:
    - master
  pull_request:


jobs:

  lint:
    name: Analyze the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.8.1'
          channel: 'stable'

      - name: Update dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze
      
      - name: Flutter version
        run: flutter --version

  # test:


  # build: